{% extends 'base.html' %}
{% load static%}



<!-- #region-------------------------------------------------------بداية الهيدر -------------------------------------------------------------->
    {% block navbar_block %}
    {% endblock navbar_block %} 
<!-- #endregion----------------------------------------------------نهاية الهيدر -------------------------------------------------------------->

{% block title %} تسجيل الحضور | EMS  {% endblock %}


{% block content %}
<div class="min-h-screen flex items-center justify-center from-blue-50">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <!-- شعار الجامعة -->
        <div class="flex justify-center mb-6">
            <img 
                src="{% static 'img/tize_unvercity_logo.svg' %}" 
                alt="شعار الجامعة" 
                class="h-24 w-24 object-contain">
        </div>
        
        <h1 class="text-2xl font-bold text-center text-blue-800 mb-6">نظام تسجيل الحضور الإلكتروني</h1>

        <form method="POST"  class="space-y-4"  enctype="multipart/form-data">
            {% csrf_token %}
            
          
            
            <div>
                <label for="student_id" class="block text-gray-700 mb-2">رقم البطاقة الجامعية</label>
                <input 
                    type="text" 
                    id="student_id" 
                    name="form_university_id"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="أدخل رقم البطاقة الجامعية"
                    required
                    pattern="[0-9]+"
                    title="يجب أن يحتوي على أرقام فقط">
                    
            </div>
            
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input 
                        required
                        type="checkbox" 
                        id="attendance" 
                        name="form_attendace_statu"
                        class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded ml-2">
                    <label for="attendance" class="text-gray-700">تسجيل الحضور</label>
                </div>
                
                <button 
                    type="submit" 
                    name="button_next"
                    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-md transition duration-300">
                    التالي
                </button>
            </div>
        </form>
          <!-- {% if messages %}
                {% for message in messages %}
                    <div class="ml-3 flex-1">
                        <p class="text-sm font-medium">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %} -->
            {% include "../includes/messages.html" %}

    </div>
</div>
{% endblock %}