{% extends 'base.html' %}

{% load static %}
{% block title %} إنشاء طالب | EMS {% endblock %}

{% block content %}

{% if messages %} 
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<form method="POST"   enctype="multipart/form-data">
{% csrf_token %}
    <div class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100 flex items-center justify-center p-8">
        <div class="w-full max-w-4xl bg-white bg-opacity-90 backdrop-blur-sm rounded-2xl shadow-2xl overflow-hidden transition-all duration-300 hover:shadow-2xl">
            <!-- Header Section -->
                {% comment %} <div class="relative bg-gradient-to-r from-blue-500 to-indigo-600 bg-opacity-10 py-4">
                <div class="absolute inset-0 bg-white bg-opacity-20"></div>
                <div class="relative z-10 flex flex-col items-center">
                    <div class="bg-white p-3 rounded-full shadow-lg mb-4 transform transition-all duration-500 hover:rotate-12">
                        <img src="{% static 'img/tize_unvercity_logo.svg' %}" alt="شعار الجامعة" class="h-16 w-16">
                    </div>
                    <h1 class="text-3xl font-bold text-gray-800">إنشاء طالب جديد</h1>
                </div>
            </div> {% endcomment %}
            <div class="flex justify-center mt-6 mb-2 transform transition-all duration-300 hover:scale-105">
                <img src="{% static 'img/tize_unvercity_logo.svg' %}" alt="شعار الجامعة" class="h-24 w-24 object-contain drop-shadow-md">
            </div>
            
            <h1 class="text-2xl font-bold text-center text-blue-800 mb-0 animate-[fadeIn_0.8s_ease-out]">إنشاء طالب جديد</h1>

            <!-- Form Content -->
            <div class="p-8">
                <div class="space-y-6">
                    <!-- basic Info Row -->
                    <div class="bg-indigo-50 p-6 rounded-xl">
                        <h2 class="text-xl font-semibold text-gray-800 mb-4 flex items-center ">
                            <i class="fas fa-user-tag text-indigo-500 ml-2"></i>
                            المعلومات الاساسية
                        </h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                            <!-- Left Column -->
                            <div class="space-y-5">

                                
                                <!-- Username -->
                                <div>
                                    <label for="form_username" class="block text-gray-700 mb-2 font-medium flex items-center">
                                        <i class="fas fa-user-circle text-blue-500 ml-2"></i>
                                        اسم المستخدم
                                    </label>
                                    <div class="relative">
                                        <input type="text"  name="form_username" value="{{ form_data.username }}"
                                            class="w-full px-4 py-3 pr-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all" 
                                            placeholder="اختر اسمًا فريدًا">
                                        <i class="fas fa-check-circle absolute right-3 top-3.5 text-green-500 opacity-0"></i>
                                    </div>
                                </div>


                                <!-- حقل كلمة المرور -->
                                <div>
                                    <label for="form_password" class="block text-gray-700 mb-2 font-medium flex items-center">
                                        <i class="fas fa-lock text-blue-500 ml-2"></i>
                                        كلمة المرور
                                    </label>
                                    <div class="relative">
                                        <input type="password" id="form_password" name="form_password" placeholder="أدخل كلمة المرور"  
                                            class="w-full px-4 py-3 pr-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
                                        <i class="fas fa-eye absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500 cursor-pointer toggle-password" 
                                        data-target="password"></i>
                                    </div>
                                </div>
                                
                                <!-- حقل تأكيد كلمة المرور -->
                                <div>
                                    <label for="form_confirm_password" class="block text-gray-700 mb-2 font-medium flex items-center">
                                        <i class="fas fa-lock text-blue-500 ml-2"></i>
                                        تاكيد كلمة المرور 
                                    </label>
                                    <div class="relative">
                                        <input type="password" name="form_confirm_password" id="form_confirm_password" placeholder="أعد إدخال كلمة المرور" 
                                            class="w-full px-4 py-3 pr-10 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all" >
                                        <i class="fas fa-eye absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500 cursor-pointer toggle-password" 
                                        data-target="confirm-password"></i>
                                    </div>
                                    <p id="confirm-error" class="text-red-500 text-sm mt-1 hidden">كلمة المرور غير متطابقة</p>
                                </div>

                                <!-- Full Name -->
                                <div>
                                    <label for="form_fullname" class="block text-gray-700 mb-2 font-medium flex items-center">
                                        <i class="fas fa-id-card text-blue-500 ml-2"></i>
                                        الاسم الكامل
                                    </label>
                                    <input type="text" name="form_fullname"       value="{{ form_data.full_name}}"
                                        class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all" 
                                        placeholder="الاسم الثلاثي">
                                </div>
                            </div>

                            <!-- Right Column - Photo Upload -->
                            <div class="flex flex-col items-center justify-center">
                                <div class="relative bg-white group w-48 h-48 rounded-full border-2 border-dashed border-blue-300 flex items-center justify-center overflow-hidden mb-4 transition-all hover:border-blue-500">
                                    <img id="preview-photo" src="https://via.placeholder.com/300" alt="صورة الطالب" class="w-full h-full object-cover hidden">
                                    <i class="fas fa-user text-gray-400 text-5xl" id="default-icon"></i>
                                    <div class="absolute inset-0 bg-black bg-opacity-30 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                                        <span class="text-white font-medium">تغيير الصورة</span>
                                    </div>
                                </div>
                                <label for="photo-upload" class="cursor-pointer">
                                    <div class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-full inline-flex items-center transition-all shadow-md hover:shadow-lg">
                                        <i class="fas fa-camera mr-2 ">  </i>
                                        اختر صورة
                                    </div>
                                    <input type="file" name="photo-upload" id="photo-upload" class="hidden" accept="image/*">
                                </label>
                            </div>
                        </div>
                    </div>
            

                    <!-- Personal Details Section -->
                    <div class="bg-indigo-50 p-6 rounded-xl">
                        <h2 class="text-xl font-semibold text-gray-800 mb-4 flex items-center ">
                            <i class="fas fa-user-tag text-indigo-500 ml-2"></i>
                            المعلومات الشخصية
                        </h2>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


                            <!-- Gender -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-venus-mars text-indigo-500 ml-2"></i>
                                    النوع
                                </label>
                                <div class="flex items-center space-x-6 space-x-reverse">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="gender" value="1" class="h-5 w-5 text-indigo-600 focus:ring-indigo-500" {% if form_data.gender == '1' %}checked{% endif %}>
                                        <span class="mr-2">ذكر</span>
                                    </label>
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="gender" value="0" class="h-5 w-5 text-indigo-600 focus:ring-indigo-500" {% if form_data.gender == '0' %}checked{% endif %}>
                                        <span class="mr-2">أنثى</span>
                                    </label>
                                </div>
                            </div>

                            <!-- Account Status -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-power-off text-indigo-500 ml-2"></i>
                                    حالة الحساب
                                </label>
                                <div for="account_status" class="flex items-center">
                                    <label class="inline-flex items-center cursor-pointer">
                                        <input type="checkbox" name="account_status" class="sr-only peer" checked>
                                        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-indigo-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-indigo-600"></div>
                                        <span class="mr-3 text-sm font-medium text-gray-900">فعال</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Academic Info Section -->
                    <div class="bg-blue-50 p-6 rounded-xl">
                        <h2 class="text-xl font-semibold text-gray-800 mb-4 flex items-center">
                            <i class="fas fa-graduation-cap text-blue-500 ml-2"></i>
                            المعلومات الأكاديمية
                        </h2>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                            <!-- Student ID -->
                            <div>
                                <label for="university_id" class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-id-badge text-blue-500 ml-2"></i>
                                    الرقم الجامعي
                                </label>
                                <input type="text" 
                                        name="university_id"  value="{{ form_data.university_id }}"
                                    class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all" 
                                    placeholder="123456">
                            </div>

                            <!-- Major -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-book text-blue-500 ml-2"></i>
                                    التخصص
                                </label>
                            
                                <select name="major" class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
                                    <option value="">اختر التخصص </option>
                                    {% for major in majors %}
                                        <option value="{{ major.id }}">{{ major.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Batch -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-users text-blue-500 ml-2"></i>
                                    الدفعة
                                </label>
                            

                                <select name="batch" class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
                                    <option value="">اختر الدفعة </option>
                                    {% for batch in batches %}
                                        <option value="{{ batch.id }}" {% if form_data.batch_id == batch.id|stringformat:"s" %}selected{% endif %}>
                                        <!-- {{ batch.name }} -->
                                        {{ batch.order }} - {{ batch.name }} - {{ batch.major.name }} - {{ batch.enrollment_year }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Semester -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-calendar-alt text-blue-500 ml-2"></i>
                                    الفصل الدراسي
                                </label>
                                <select name="semester" class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
                                    <option value="">اختر الفصل الدراسي</option>
                                    {% for semester in semesters %}
                                    <option value="{{ semester.id }}" {% if form_data.semester_id == semester.id|stringformat:"s" %}selected{% endif %}>
                                    {{ semester.name }} - {{ semester.level.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>


                            <!-- registration_type -->
                            <div>
                                <label class="block text-gray-700 mb-2 font-medium flex items-center">
                                    <i class="fas fa-calendar-alt text-blue-500 ml-2"></i>
                                    نوع التسجيل
                                </label>
                                <select name="registration_type" class="w-full px-4 py-3 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all">
                                    <option value="">اختر نوع التسجيل</option>
                                    <option value="1">نظامي</option>
                                    <option value="2">موازي</option>
                                    <option value="3">نفقة خاصة</option>
                                </select>
                            </div>


                        </div>
                    </div>

                    <!-- Form Actions -->
                    <div class="flex flex-col sm:flex-row justify-between items-center pt-6 border-t border-gray-200">
                        <!-- النص الإرشادي -->
                        <div class="mb-4 sm:mb-0">
                            <p class="text-sm text-gray-500 flex items-center">
                                <i class="fas fa-info-circle text-blue-500 mr-1"></i>
                                جميع الحقول المميزة بـ * إجبارية
                            </p>
                        </div>
                        
                        <!-- مجموعة الأزرار -->
                        <div class="flex flex-col sm:flex-row gap-3 sm:gap-4">
                            <!-- زر الإعادة -->
                            <button type="reset" name="create_student_buttom" class="px-6 py-2.5 border border-gray-300 rounded-lg text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all flex items-center">
                                <i class="fas fa-redo mr-2"></i>
                                إعادة تعيين
                            </button>
                            
                            <!-- زر التسجيل -->
                            <button type="submit" class="px-6 py-2.5 bg-gradient-to-r from-blue-600 to-indigo-600 text-white rounded-lg hover:from-blue-700 hover:to-indigo-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all shadow-md hover:shadow-lg flex items-center">
                                <i class="fas fa-user-plus mr-2"></i>
                                إنشاءالطالب
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    
    // Photo Upload Preview
    document.getElementById('photo-upload').addEventListener('change', function(e) {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                document.getElementById('preview-photo').src = event.target.result;
                document.getElementById('preview-photo').classList.remove('hidden');
                document.getElementById('default-icon').classList.add('hidden');
            }
            reader.readAsDataURL(file);
        }
    });





      // وظيفة إظهار/إخفاء كلمة المرور
        document.querySelectorAll('.toggle-password').forEach(icon => {
            icon.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const input = document.getElementById(targetId);
                const isPassword = input.type === 'password';
                
                input.type = isPassword ? 'text' : 'password';
                this.classList.toggle('fa-eye-slash', isPassword);
                this.classList.toggle('fa-eye', !isPassword);
            });
        });
        
        // وظيفة التحقق من صحة كلمة المرور
        document.getElementById('submit-btn').addEventListener('click', function() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const passwordError = document.getElementById('password-error');
            const confirmError = document.getElementById('confirm-error');
            
            // إعادة تعيين رسائل الخطأ
            passwordError.classList.add('hidden');
            confirmError.classList.add('hidden');
            
            let isValid = true;
            
            if (password.length < 8) {
                passwordError.classList.remove('hidden');
                isValid = false;
            }
            
            if (password !== confirmPassword) {
                confirmError.classList.remove('hidden');
                isValid = false;
            }
            
            if (isValid) {
                alert('تم تسجيل كلمة المرور بنجاح!');
            }
        });




</script>

<style>
    /* حل مشكلة ألوان autofill في المتصفح */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        border: 1px solid #e5e7eb !important;
    }
</style>
{% endblock content %}